body {
    padding: 3px;
    border: 1px solid;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.header {
    background-color: tomato;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

#right {
    background-color: pink;
    flex-basis: 20%;
    min-height: 200px;
}

#left {
    background-color: green;
    flex-basis: 20%;
    min-height: 200px;
}

.center {
    background-color: blue;
    flex-basis: 60%;
    min-height: 200px;
}

.footer {
    background-color: violet;
}

@media (max-width: 992px) {
    
    #left {
        flex-basis: 100%;
        order: 3;
    }

    #right {
        flex-basis: 40%;
    }
}

@media (max-width: 768px) {

    #left, #right, .center {
        flex-basis: 100%;
    }

    #right {
        order: 4;
    }
}
